body  {
  background-color: #FFE333;
  color: black;
}
.nav {
  display:flex;
  justify-content:center;
  text-align:center;
  border:20px;
}
.nav  a{
  text-size:15px;
  display:flex;
  justify-content:center;
}
.nav a:hover{
  color:white;
}
divf{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:black;
  color:white;
  width:80%;
  height:70%;
  border:20px;
}
head {
  text-align:center;
  padding:20px 20px 5px 20px;
  height:20%;
  
}
footer{
  display:block;
  text-align:center;
  background-color:black;
  height:30%;
  width:100%;
}


